<div ng-controller="LandingCtrl" style="height: 100%">

  <!-- card -->
  <div class="dropcard md-whiteframe-z2 bg-white" ng-class="{'dropcard-animation': firstCard.animated, 'pos1': firstCard.isPos1, 'pos2': firstCard.isPos2, 'pos3': firstCard.isPos3}">
    <div class="" style="padding:8px;">
      <div class="row">
        <span class="flex flex-xs-auto"></span>
        <md-button class="md-icon-button" aria-label="close" ng-click="firstCard.hideDropCard()">
        <ng-md-icon icon="close" class="fill-grey-500"></ng-md-icon>
        </md-button>
      </div>
      <div class="row">
        <span class="flex flex-xs-auto"></span>
        <span style="font-size:22px; font-weight:700; opacity: 0.86;">あなたはどっち？</span>
        <span class="flex flex-xs-auto"></span>
      </div>
      <div class="row">
        <span class="flex flex-xs-auto"></span>
        <span style="font-size:18px; font-weight:100; opacity: 0.52;">Which are you?</span>
        <span class="flex flex-xs-auto"></span>
      </div>
    </div>
    <div class="" style="padding: 32px;">
      <div class="row">
        <span class="flex flex-xs-auto"></span>
        <div ng-click="firstCard.nextDropCard(0)" class="flex flex-xs-6 bg-grey-200 frame z1" style="cursor:pointer;width:120px; height:120px; border-radius: 60px; background-color: #ffc400; padding-top:22px;">
          <div class="row">
            <span class="flex flex-xs-auto"></span>
            <img src="images/designer_icon.png" width="54" height="54">
            <span class="flex flex-xs-auto"></span>
          </div>
          <div class="row" style="padding-top:8px">
            <span class="flex flex-xs-auto"></span>
            <span style="color:white;font-size:14px;font-weight:700;">デザイナー</span>
            <span class="flex flex-xs-auto"></span>
          </div>
        </div>
        <span class="flex flex-xs-auto"></span>
        <div ng-click="firstCard.nextDropCard(1)" class="flex flex-xs-6 bg-grey-200 frame z1" style="cursor:pointer;width:120px; height:120px; border-radius: 60px; background-color: #448aff; padding-top:22px;">
          <div class="row">
            <span class="flex flex-xs-auto"></span>
            <img src="images/pc.png" width="54" height="54">
            <span class="flex flex-xs-auto"></span>
          </div>
          <div class="row" style="padding-top:8px">
            <span class="flex flex-xs-auto"></span>
            <span style="color:white;font-size:14px;font-weight:700;">エンジニア</span>
            <span class="flex flex-xs-auto"></span>
          </div>
        </div>
        <span class="flex flex-xs-auto"></span>
      </div>
    </div>
  </div>

  <div class="dropcard-twice frame z1 bg-white" ng-class="{'dropcard-animation': secondCard.animated, 'pos1': secondCard.isPos1, 'pos2': secondCard.isPos2, 'pos3': secondCard.isPos3}">
    <div class="" style="padding:8px;">
      <div class="row">
        <span class="flex flex-xs-auto"></span>
        <md-button class="md-icon-button" aria-label="close" ng-click="secondCard.hideDropCard()">
        <ng-md-icon icon="close" class="fill-grey-500"></ng-md-icon>
        </md-button>
      </div>
      <div class="row" style="padding-bottom:16px;">
        <span class="flex flex-xs-auto"></span>
        <span style="font-size:16px; font-weight:700;">あなたの傾向を選んで</span>
        <span class="flex flex-xs-auto"></span>
        <md-button ng-click="secondCard.nextDropCard()">次</md-button>
      </div>
      <div style="text-align:center;">
        <div style="margin: 0 auto;background:url('images/enginner_fig_bg.png');background-size:cover;width:400px; height:400px;">

        </div>
      </div>
    </div>
  </div>

  <div class="dropcard-twice frame z1 bg-white" ng-class="{'dropcard-animation': thirdCard.animated, 'pos1': thirdCard.isPos1, 'pos2': thirdCard.isPos2, 'pos3': thirdCard.isPos3}">
    <div class="" style="padding:8px;">
      <div class="row">
        <span class="flex flex-xs-auto"></span>
        <md-button class="md-icon-button" aria-label="close" ng-click="secondCard.hideDropCard()">
        <ng-md-icon icon="close" class="fill-grey-500"></ng-md-icon>
        </md-button>
      </div>
      <div class="row">

        <div class="flex flex-xs-auto" style="padding: 24px; padding-top:0px">
          <md-input-container>
          <label>特技</label>
          <input ng-model="skill">
          </md-input-container>

          <md-select ng-model="user" md-on-open="languageList()" style="min-width: 40px;">
          <md-select-label>{{ languageName.first ? languageName.first : '使用言語を選択' }}</md-select-label>
          <md-option ng-value="user" ng-repeat="user in users">{{language.name}}</md-option>
          </md-select>
          <md-slider min="0" max="10" ng-model="languageLevel.first" aria-label="first" class="flex flex-xs-auto"></md-slider>

          <md-select ng-model="user" md-on-open="languageList()" style="min-width: 40px;">
          <md-select-label>{{ languageName.first ? languageName.first : '使用言語を選択' }}</md-select-label>
          <md-option ng-value="user" ng-repeat="user in users">{{language.name}}</md-option>
          </md-select>
          <md-slider min="0" max="10" ng-model="languageLevel.second" aria-label="second"  class="flex flex-xs-auto"></md-slider>

          <md-select ng-model="user" md-on-open="languageList()" style="min-width: 40px;">
          <md-select-label>{{ languageName.first ? languageName.first : '使用言語を選択' }}</md-select-label>
          <md-option ng-value="user" ng-repeat="user in users">{{language.name}}</md-option>
          </md-select>
          <md-slider min="0" max="10" ng-model="languageLevel.third" aria-label="third"  class="flex flex-xs-auto"></md-slider>
        </div>

        <div class="flex flex-xs-auto" style="padding: 8px; padding-top:48px">
          <div class="frame z1 card aspectwrapper-2by3 javascript">
            <div class="content">
              <div class="top z2 aspectwrapper-3by2">
                <div class="content image" style="background-image: url('images/yeoman.png')"></div>
                <a href="" class="float-button z2" style="cursor:not-allowed;">
                  <div style="padding-top: 8px; padding-right:9px;">
                    <ng-md-icon icon="more_vert" class="fill-white"></ng-md-icon>
                  </div>
                </a>
              </div>
              <div class="status column between">
                <div class="flex flex-xs-auto">
                  <div class="skill"><span>特技:</span> {{skill}}</div>
                </div>
                <div class="row bottom">
                  <div class="flex flex-xs-auto">
                    <div class="bars-title">使用言語:</div>
                    <div class="bar-name">Ruby</div>
                    <div class="bar v{{languageLevel.first * 10}}" data-value="{{languageLevel.first * 10}}"></div>
                    <div class="bar-name">Php</div>
                    <div class="bar v{{languageLevel.second * 10}}" data-value="{{languageLevel.second * 10}}"></div>
                    <div class="bar-name">C++</div>
                    <div class="bar v{{languageLevel.third * 10}}" data-value="{{languageLevel.third * 10}}"></div>
                  </div>
                  <div class="flex flex-xs-auto">
                    <img src="http://orestrap.azurewebsites.net/img/lang_icon/html5_icon_white.png" class="fav-logo">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- content -->
  <div style="background-image: url('images/material_paper_bg.jpg'); height: 100%;">
    <div class="container" style="height: 100%;">
      <div class="row" style="height: 100%;">
        <span class="flex flex-xs-auto"></span>
        <div class="column" style="padding-bottom:64px;">
          <span class="flex flex-xs-auto"></span>
          <md-button ng-click="firstCard.showDropCard()" ng-disabled="Pos2 || Pos3" aria-label="register" class="md-fab">
            <ng-md-icon icon="account_box" class="fill-white"></ng-md-icon>
          </md-button>
          <md-button aria-label="login" class="md-fab">
            <ng-md-icon icon="lock_open" class="fill-white"></ng-md-icon>
          </md-button>
        </div>
      </div>
    </div>
  </div>

</div>
